body {
margin: 0;	
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

.header, .footer{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }

.header{
  background-image: url("https://raw.githubusercontent.com/olmagony/mq-diploma/master/sources/img/football_767.jpg");
    background-color: #0a0e34;
    background-repeat: no-repeat;
    padding-top: 33px;
    padding-bottom: 84px;
}

.header::after, .footer::after {
  content: "";
  background-color: #1c193a;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header_box, .footer_box {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.surface_logo_text{
  padding-top: 33px;
  padding-bottom: 135px;
  width: 136px;
  fill: #ffffff;
}

.header_text, .h1_text {
  display: block;
  color: #ffffff;
  font-family: 'OpenSans-Bold', sans-serif;
  text-transform: uppercase;
  font-size: 28px;	
}

.h1_text{
  margin-left: 44px;
  margin-top: 30px;
  margin-bottom: 88px;
}

.link_group{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 280px;
  height: 35px;
}

.logo{
  height: 25px;
  width: 24px;
  fill: #ffffff;
}

.apple_link, .google_link{
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #5e42b0;
  border-radius: 25px;
  margin-bottom: 15px;
  width: 280px;
  height: 35px;
}

.apple_link_form, .google_link_form{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.link_text_apple, .link_text_google {
  display: flex;
  flex-direction: column;
  font-family: 'OpenSans-Regular';
  font-size: 8px;
  font-weight: 400;
  padding-left: 7px;
}

.link_text_bold{
  font-family: 'OpenSans-Bold';
  font-size: 8px;
}

.post_box{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.post_athlets, .post_players{
  position: relative;
 }	
	
.title_post{
  font-family: 'OpenSans-Bold';
  font-size: 50px;
  color: #e7e7e7;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 20px;
  margin-left: 6.25%;
  margin-right: 6.25%;
  margin-bottom: 20px; 
}
 
.post_athlets_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -55px;
}

.post_player_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
}

.list_post {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  counter-reset: list;
}

.list_item {
  padding: 59px 6.25% 53px 6.25%;
  counter-increment: list;
}

.list_title{
  font-family: 'OpenSans-Bold';
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #c1c1c1;
  position: relative;
  margin-left: 25px;
  margin-bottom: 29px;
  margin-top: 0px;
}

 .list_title::before {
  content: "0" counter(list);
  position: absolute;
  left: -25px;
  top: -3px;
  font-size: 14px;
  font-family: 'OpenSans-Bold';
  color: #000000;
}

 .list_title::after {
   content: "";
   position: absolute;
   left: -25px;
   top: 23px;
   width: 15px;
   height: 4px;
   border-radius: 2px;
   background-color: #5e42b0;
}
    
.list_item:first-child{
  background-color: #fafafa;
}

.list_item:nth-child(2){
  background-color: #f5f4f9;
}

.list_item:nth-child(3){
  background-color: #5e42b0;
}

.post_athlets .list_item:nth-child(3) .list_title::after{
  background-color: #ffffff;
}

.post_players .list_item:nth-child(3) .list_title::after{
  background-color: #ffffff;
}

.post_players .list_item:nth-child(3) {
  background-color: #090c35;
}

.post_players .list-item:nth-child(3) .list-title::before {
  background-color: #8765dd;
}

.post_players .list_item:nth-child(3) .list_title::before {
  color: #8765dd;
}

.list_description, .to_do_description{
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
  color: #000000;
  font-family: 'OpenSans-Regular';
}

.post_athlets .list_item:nth-child(3) .list_description {
  color: #ffffff;
}

.post_players .list_item:nth-child(3) .list_description {
  color: #ffffff;
}

.visually_hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.list_styles_reset {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  counter-reset: list;
}

.to_do_img{
  width: 100%;
  min-height: 350px;
}

.to_do_content {
  padding: 33px 6.25% 80px 6.25%;	
}

.to_do_title {
  position: relative;
  font-family: 'OpenSans-Bold';
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #e7e7e7;
  text-transform: uppercase;
  margin-bottom: 23px;
  counter-increment: list;
}

.to_do_title::before {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -95px;
  font-size: 14px;
  line-height: 70px;
  color: #ffffff;
  text-align: center;
  background-color: #5e42b0;
  content: "0" counter(list);
}

.to_do_title::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 27px;
  width: 17px;
  height: 4px;
  border-radius: 2px;
  background-color: #8f7bc8;
}

.footer{
background-image: url("https://raw.githubusercontent.com/olmagony/mq-diploma/master/sources/img/game_767.jpg");	
}

.icon {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 57px;
}

.icon_form {
  width: 72px;
  height: 72px;
  margin-right: auto;
  margin-left: auto;
  background-color: #5e42b0;
  border-radius: 15px;
  background-image: linear-gradient(0deg, #50329c 0%, #5e3db3 51%, #7751db 100%);
}

.logo_artwork{
  display: block;
  height: 50px;
  width: 60px;
  margin: auto;
  fill: #ffffff;
}

.footer_title{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer_texts{
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 1.3px;
}

.footer_text{
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  letter-spacing: 1px;
  color: #9b8ec1;
  padding-bottom: 78px;
}

.surface_logo_text_footer{
  padding-top: 68px;
  padding-bottom: 10px;
  width: 136px;
  fill: #ffffff;
}

@media (max-width: 960px) and (min-width: 641px){
  
  .header {
    background-image:  url("https://github.com/olmagony/mq-diploma/blob/master/sources/img/football_1280.jpg?raw=true");	
    padding-top: 38px;
	padding-bottom: 91px;
  }
	   
  .surface_logo_text{
    width: 205px;
  }
	
  .header_text{
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header_text, .h1_text{
    font-size: 64px;
    letter-spacing: 3px;
  }
	
  .h1_text{
    margin-left: 105px;
    margin-bottom: 310px;
  }
	
  .link_form{	 
    display: flex;
    width: 700px;
    box-sizing: border-box;
  }
	
  .logo{
    height: 45px;
    width: 45px;	
  }
	
  .apple_link, .google_link{
    display: flex;
    width: 315px;
    height: 75px;
    border-radius: 38px;
  }
	
  .link_text_apple, .link_text_google{
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 25px;
  }
	
  .link_text_bold{ 
    font-size: 14px;
    letter-spacing: 1px;
  }
	
  .post_athlets .title_post{
    font-size: 80px;
    padding: 85px 5% 19px 38%;
    margin: 0;
	}	

  .post_athlets_img{
    position: absolute;
    z-index: 2;
    top: 60px;
    left: -80px;
	right: 50%;
  }
	
  .post_athlets .list_item{
    padding: 40px 5% 40px 38%;
  }

  .post_players .title_post{
    font-size: 80px;
    padding: 40px 38% 15px 5%;
    margin: 0;
  }
	
  .post_player_img{
    position: absolute;
    z-index: 2;
    right: 0px;
    margin-top: -55px;
  }
	
  .post_players .list_item {
    padding: 40px 38% 40px 4%;
  }

  .list_title{
    font-size: 32px;
    margin-left: 32px;
  }
	
  p{
    margin: 0;
  }

  .list_item:nth-child(3) p{
    color: #ffffff;
  }

  .list_title::before{
    font-size: 18px;
    left: -30px;	
  }

  .post_player .list_item:nth-child(3){
    color: #8765dd;	
  }

  .list_title::after{
    top: 30px;
    left: -30px;
    width: 22px;
  }

  .list_item:first-child{
    background-color: #ffffff;
  }

  .post_players .list_item:nth-child(3){
    background-color: #090c35;
  }
	
  .post_players .list_item:nth-child(3) .list_title::before{
    color: #5e42b0;
  }

  .list_item:nth-child(3) .list_title::after{
    background-color: #ffffff;
  }

  .list_description{
    font-size: 18px;
    line-height: 28px;
  }

  .to_do_content{
    padding: 90px 4% 100px 4%;
  }

  .to_do_title{
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 40px; 
  }

  .needs_to_do .to_do_item .to_do_content .to_do_title::before{
    width: 117px;
    height: 117px;
    font-size: 24px;
    line-height: 117px;
    top: -185px;
  }

  .to_do_item .to_do_content .to_do_title::after{
    top: -110px;
    left: 45px;
    width: 28px;
  }	
	
  .to_do_title::after{
    top: -110px;
    left: 45px;
    width: 28px;
  }

  .to_do_description{
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 28px;
  }

  .footer_box{
    width: 79.74%;
    max-width: 1531px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.6%;
    padding-right: 0.6%;
  }

  .icon{
    display: flex;
    flex-direction: column;
  }

  .icon_form{
    width: 135px;
    height: 138px;
  }
 
  .logo_artwork{
    height: 88px;
    width: 103px;
    padding-top: 25px;
  }
	
  .footer{
    background-image: url("https://github.com/olmagony/mq-diploma/blob/master/sources/img/game_1280.jpg?raw=true");	
}
	
  .footer_title {
    margin-top: 82px;
    margin-bottom: 285px;
  }
	
  .footer_texts{
    font-size: 80px;
    line-height: 60px;
    letter-spacing: 4px;
   }
	
  .footer_text{
    font-size: 36px;
    line-height: 60px;
    letter-spacing: 1px;
    margin-top: 27px;
  } 

  .surface_logo_text_footer{
    width: 205px;
    padding-bottom: 23px;
  }
}

@media (min-width: 961px){
  
  .header{
    background-image: url("https://raw.githubusercontent.com/olmagony/mq-diploma/master/sources/img/football_1920.jpg");
	padding-top: 44px;
    padding-bottom: 110px;
  }
	
  .header_box{
    width: 80%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.6%;
    padding-right: 0.6%;
  }
	
  .surface_logo_text{
	width: 191px;
  }
	
	.header_title{
	  width: 100%;
      margin-bottom: 160px;	
	}
	
  .header_text, .h1_text{
    font-size: 4.67vw;
	letter-spacing: 2.4px;
  }
	
  .h1_text {
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 29%;
  }
	
  .link_form{	 
    display: flex;
    box-sizing: border-box;
    width: 700px;
  }
	
  .link_group{
    font-size: 14px;
    width: 312px;
    padding-left: 0;
  }
	
  .logo{
    height: 50px;
    width: 42px;	
  }
	
  .apple_link, .google_link{
    width: 315px;
	height: 75px;
	border-radius: 38px;
  }
	
  .link_text_apple, .link_text_google{
    font-size: 14px;
    letter-spacing: 1px;
	padding-left: 28px;
  }
	
  .link_text_bold{ 
    font-size: 14px;
    letter-spacing: 1px;
  }
	
  .post_athlets .title_post{
    margin: 0;
    padding: 115px 10% 33px 52.5%;
    font-size: 80px;
  }	
	
  .post_athlets_img{
    position: absolute;
    z-index: 2;	
	top: 15px;
	right: 50%;
  }
	
  .post_athlets .list_item{
   padding: 56px 10% 56px 52.5%;
  }
	
  .post_players .title_post{
    font-size: 80px;
    margin: 0;
    padding: 115px 52.5% 33px 10%;
  }	
	
  .post_player_img{
	position: absolute;
    z-index: 2;	
	top: 15px;
	left: 40%;
  }
	
  .post_players .list_item{
	  padding: 56px 52.5% 56px 10%;
  }
	
  .list_title{
    font-size: 36px;
    margin-left: 36px;
    margin-bottom: 33px;
  }	
	
  .list_title::before{
    font-size: 18px;
    top: -6px;
    left: -35px;
  }

  .list_title::after{
    left: -35px;
    width: 22px;
  }

  .list_item:first-child{
    background-color: #ffffff;
  }

  .post_players .list_item:nth-child(3){
	background-color: #0a0e34;
  }
	
  .post_players .list_item:nth-child(3) .list_title::before{
    color: #5e42b0;
  }

  .list_item:nth-child(3) .list_title::after{
   background-color: #ffffff;
  }

  .list_description{
    font-size: 20px;
	letter-spacing: 1px;
    line-height: 28px;
  }	

  .list_item:nth-child(3) p{
    color: #ffffff;
  }

  .to_do_item{
    display: flex;
    box-sizing: border-box;
    position: relative;
  }

  .to_do_pic{
    width: 50%;
  }	

  .to_do_img{
    height: 100%;
    object-fit: cover;
  }	

  .to_do_content{
    width: 50%;
    box-sizing: border-box;
	padding: 180px 10.5% 240px 124px;
  }	

  .to_do_item:nth-child(2){
    flex-direction: row-reverse;
  }
	
  .to_do_title{
    position: static;
	font-size: 80px;
    line-height: 60px;
	margin-bottom: 115px;
  }

  .needs_to_do .to_do_item .to_do_content .to_do_title::before{
    width: 168px;
    height: 155px;
    font-size: 24px;
    line-height: 155px;
    top: 231px;
    left: calc(50% - 84px);
  }

  .to_do_item .to_do_content .to_do_title::after{
    top: 326px;
    left: calc(50% - 15px);
    width: 30px;
  }	
  .to_do_description{
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 28px;
  }	

  .icon{
	display: flex;
	flex-direction: row;	
  }

  .icon_form{
    width: 6.87vw;
    height: 7.18vw;
    margin: 0 17.5px 0 auto;
  }	
	
  .logo_artwork{
     width: 5.46vw;
  }
	
  .footer{
    background-image: url("https://github.com/olmagony/mq-diploma/blob/master/sources/img/game_1920.jpg?raw=true");
    padding-top: 220px;
    padding-bottom: 43px;	
  }
	
  .footer_box{
	  width: 79.74%;
      max-width: 1531px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0.6%;
      padding-right: 0.6%;
	}

  .footer_texts{
    font-size: 4.166vw;
  }	

  .footer_text{
    font-size: 1.56vw;
    text-align: left;
	line-height: 1;
  }	

  .surface_logo_text_footer{
    width: 191px;
  }
}
